:root {
  --dark: #000000;
  --light: #fff;
  --primarybtn_hover: cadetblue;
  --link_color: #5372f0;
  --link_hover: #3c58c5;
  --right: rgb(10, 173, 10);
  --wrong: rgb(230, 45, 45);
}

* {
  box-sizing: border-box;
  font-family: "Nobile";
  text-transform: uppercase;
}

header {
  height: 70px;
}

.language-btns {
  padding: 10px 10px 0 10px;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.ro {
  background-image: url(./images/roFlag.png);
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 15px;
}

.eng {
  background-image: url(./images/ukFlag.png);
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 15px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url("./images/logos.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px) brightness(0.4);
}

.chestii {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-game {
  max-width: 650px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  font-size: 25px;
  font-weight: 500;
  padding: 16px 25px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 5px 20px #000;
}

.container-game h3 {
  margin: 0px 0px 20px 0px;
  height: 50px;
}

.game {
  position: relative;
}

.game .game-title {
  text-align: center;
  margin: 30px 0px 30px 0px;
}

.game h2 {
  color: transparent;
  font-size: 40px;
  -webkit-text-stroke: 1px var(--light);
  position: relative;
  display: inline;
}

.game h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: var(--light);
  overflow: hidden;
  -webkit-text-stroke: 0px;
  animation: cover_text 4s linear infinite;
}

@keyframes cover_text {
  0%,
  100% {
    width: 0;
  }

  50% {
    width: 100%;
  }
}

.container-game .game-header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.game-header p {
  text-shadow: 1px 1px #5f666d;
  margin: 0 auto;
}

.container-game .content {
  margin: 25px 20px 35px;
}

.content .word {
  user-select: none;
  font-size: 33px;
  font-weight: 500;
  text-align: center;
  word-break: break-all;
  text-transform: uppercase;
}

.content .details {
  margin-bottom: 50px;
  text-align: center;
  color: #5f666d;
}

.details p {
  font-size: 18px;
  margin-top: 35px;
  height: 20px;
}

.details p b {
  font-weight: 500;
}

.content .buttons {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.buttons button,
.practice {
  border: none;
  outline: none;
  color: var(--light);
  cursor: pointer;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 5px;
  width: calc(100% / 2 - 8px);
  margin: 0px 10px 0px 10px;
  background: var(--dark);
  box-shadow: 3px 3px 3px rgb(0 0 0 / 30%);
  transition: all 0.3s ease;
}

.buttons button:active {
  transform: scale(0.97);
}

.practice {
  margin: 10px 0;
}

.buttons .refresh-word:hover,
.check-word:hover,
.restart:hover,
.practice:hover,
.RPS button:hover {
  background: #5f666d;
  opacity: 90%;
}

.go-back-btn,
.mainMenuBtn {
  padding: 7px 10px 5px 10px;
  background: none;
  color: var(--light);
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.go-back-btn:hover {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.mainMenuBtn:hover {
  text-shadow: 2px 2px rgba(255, 255, 255, 0.211);
}

.scramble_letters {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.scramble_letters div {
  text-align: center;
  line-height: 64px;
  border: 1px solid;
  font-size: 40px;
  width: 68px;
  height: 60px;
  cursor: pointer;
  border-radius: 3px;
  transform: translateY(-50px);
  opacity: 0;
  transition: all 0.5s ease-in;
}

.scramble_letters div.show_letter {
  opacity: 1;
  transform: translateY(0px);
}

.word span {
  display: inline-block;
  padding: 5px 10px;
}

@keyframes happy_letters {
  0% {
    transform: translateY(0px) rotate(0deg);
    color: black;
  }

  40% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-20px) rotate(180deg);
    color: white;
  }

  60% {
    transform: translateY(0px) rotate(360deg);
  }

  100% {
    transform: translateY(0px) rotate(360deg);
    color: black;
  }
}

.shake_animation {
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-5px);
  }

  80% {
    transform: translateX(5px);
  }
}

.tutorial {
  max-width: 500px;
  background-color: var(--light);
  box-shadow: 1px 3px 2px var(--dark);
  padding: 20px 20px 30px 30px;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
}

.close-btn {
  text-align: right;
  margin-bottom: 10px;
}

.close-btn button {
  border: 0;
  background: none;
  text-align: center;
}

.close-btn button:hover {
  background-color: var(--primarybtn_hover);
}

.close-btn i {
  font-size: 20px;
}

.title-htp h1 {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
}

.title-htp h2 {
  margin: 10px 0px 0px 0px;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}

.title-htp ul {
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: left;
}

.wrong {
  color: var(--wrong);
}

.right {
  color: var(--right);
}

.FadeInAnimation {
  animation: fadeInAnimation 1.1s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.FadeOutAnimation {
  animation: fadeOutAnimation 1.1s;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.hide {
  display: none;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.difficultyInfo,
.gameWin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  border-radius: 10px;
  color: white;
}

.difficultyInfo p {
  color: white;
  text-align: center;
  font-size: 16px;
  animation: fly_text 3s linear;
}

.gameWin p {
  color: white;
  text-align: center;
  font-size: 30px;
}

.span-design {
  font-weight: 800;
}

@keyframes fly_text {
  0% {
    opacity: 1;
  }

  50% {
    font-size: 24px;
    opacity: 0.5;
  }

  75% {
    font-size: 28px;
  }

  100% {
    opacity: 0;
  }
}

.menu {
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.menu .menu-content p,
.menu .title h1 {
  color: var(--light);
  text-shadow: 2px 2px var(--dark);
  font-size: 50px;
}

.menu .menu-content p {
  margin-top: 10px;
  font-size: 28px;
}

.start-btn,
.kidsMode {
  padding: 7px 10px 5px 10px;
  background: none;
  color: var(--light);
  border: none;
  font-size: 23px;
  cursor: pointer;
}

.start-btn:hover,
.kidsMode:hover {
  text-shadow: 3px 3px rgba(0, 0, 0, 1);
}

.container-carusel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: background 0.4s ease-in;
}

input[type="radio"] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.8s ease, opacity 0.6s ease, filter 0.6s ease;
  cursor: pointer;
  border-radius: 14px;
}

.cards {
  position: relative;
  width: 600px;
  height: 500px;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  object-fit: cover;
  object-position: 35% 50%;
}

#item-1:checked ~ .cards #card_img-3,
#item-2:checked ~ .cards #card_img-1,
#item-3:checked ~ .cards #card_img-2 {
  transform-style: preserve-3d;
  transform: translatex(-65%) scale(0.8) perspective(20cm) rotateX(-10deg)
    rotateY(10deg);
  filter: brightness(0.5);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #card_img-2,
#item-2:checked ~ .cards #card_img-3,
#item-3:checked ~ .cards #card_img-1 {
  transform-style: preserve-3d;
  transform: translatex(65%) scale(0.8) perspective(20cm) rotateX(-10deg)
    rotateY(-10deg);
  filter: brightness(0.5);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #card_img-1,
#item-2:checked ~ .cards #card_img-2,
#item-3:checked ~ .cards #card_img-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.hide {
  display: none;
}

.intro {
  color: rgb(224, 224, 224);
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s ease;
}

.intro h1 {
  font-size: 50px;
}

.intro button,
.match button {
  border: none;
  outline: none;
  color: var(--light);
  cursor: pointer;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  margin: 0px 10px 0px 10px;
  transition: all 0.3s ease;
  background: var(--dark);
  box-shadow: 3px 3px 3px rgb(0 0 0 / 30%);
}

.match {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0.5s;
}

.winner {
  color: rgb(224, 224, 224);
  text-align: center;
  font-size: 50px;
}

.hands,
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-hand {
  transform: rotateY(180deg);
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

.RPS h2 {
  text-align: center;
}

@keyframes shakePlayer {
  0% {
    transform: rotateY(180deg) translateY(0px);
  }

  15% {
    transform: rotateY(180deg) translateY(-50px);
  }

  25% {
    transform: rotateY(180deg) translateY(0px);
  }

  35% {
    transform: rotateY(180deg) translateY(-50px);
  }

  50% {
    transform: rotateY(180deg) translateY(0px);
  }

  65% {
    transform: rotateY(180deg) translateY(-50px);
  }

  75% {
    transform: rotateY(180deg) translateY(0px);
  }

  85% {
    transform: rotateY(180deg) translateY(-50px);
  }

  100% {
    transform: rotateY(180deg) translateY(0px);
  }
}

@keyframes shakeComputer {
  0% {
    transform: translateY(0px);
  }

  15% {
    transform: translateY(-50px);
  }

  25% {
    transform: translateY(0px);
  }

  35% {
    transform: translateY(-50px);
  }

  50% {
    transform: translateY(0px);
  }

  65% {
    transform: translateY(-50px);
  }

  75% {
    transform: translateY(0px);
  }

  85% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media (min-width: 1440px) and (max-width: 1700px) {
  .cards {
    width: 350px;
    height: 350px;
  }

  .start-btn,
  .kidsMode {
    font-size: 18px;
  }

  .menu .title h1 {
    font-size: 36px;
  }

  .menu .menu-content p {
    font-size: 30px;
  }
}

@media (max-width: 1440px) {
  .cards {
    width: 300px;
    height: 300px;
  }

  .start-btn,
  .kidsMode {
    font-size: 18px;
  }

  .menu .title h1 {
    font-size: 36px;
  }

  .menu .menu-content p {
    font-size: 30px;
  }

  .container-game .content {
    margin: 0;
  }

  .scramble_letters div {
    line-height: 58px;
    width: 50px;
    height: 50px;
  }

  .chestii {
    height: 80vh;
  }
}

@media (max-width: 768px) {
  .cards {
    width: 300px;
    height: 300px;
  }

  .start-btn,
  .kidsMode {
    font-size: 18px;
  }

  .menu .title h1 {
    font-size: 36px;
  }

  .menu .menu-content p {
    font-size: 30px;
  }

  .container-game {
    max-width: 400px;
  }

  .container-game .game-header {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }

  .container-game h3 {
    margin: 0px 0px 10px 0px;
    height: 30px;
  }

  @keyframes fly_text {
    0% {
      opacity: 1;
    }

    50% {
      font-size: 14px;
      opacity: 0.5;
    }

    75% {
      font-size: 18px;
    }

    100% {
      opacity: 0;
    }
  }

  .RPS h2 {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .tutorial {
    max-width: 400px;
  }
}

@media screen and (max-width: 470px) {
  .container-game h2 {
    font-size: 22px;
    padding: 13px 20px;
  }

  .content .word {
    font-size: 30px;
    letter-spacing: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    height: 100%;
  }

  .container-game .content {
    margin: 20px 20px 30px;
  }

  .details p {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .content input {
    height: 55px;
    font-size: 17px;
  }

  .buttons button {
    padding: 14px 0;
    font-size: 16px;
    width: calc(100% / 2 - 7px);
  }

  .tutorial {
    max-width: 300px;
  }

  .cards {
    width: 200px;
    height: 200px;
  }

  .start-btn,
  .kidsMode {
    font-size: 16px;
  }

  .menu .title h1 {
    font-size: 26px;
  }

  .menu .menu-content p {
    font-size: 22px;
  }

  .game-title h2 {
    font-size: 30px;
  }

  .buttons {
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
}

@media screen and (max-width: 300px) {
  .cards {
    width: 100px;
    height: 100px;
  }

  .menu .title h1 {
    font-size: 18px;
  }

  .menu .menu-content p {
    font-size: 16px;
  }

  .start-btn,
  .kidsMode {
    font-size: 16px;
  }
}
